<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	
	<!-- Login -->
	<select id="loginMember" parameterType="Member">
		select *
		from member
		where userId=#{userId} and status = 'Y'
	</select>
	
	<!-- memberJoin -->
	<insert id="memberJoin" parameterType="Member">
		insert into member
		values(
			#{USERID},
			#{PASSWORD},
			#{NICKNAME},
			#{EMAIL},
			#{ADDRESS},
			#{PHONE},
			sysdate,
			sysdate,
			default
		)
	</insert>
	
</mapper>