/* 전체 감싸기 */
.warp {
	width: 100%;
	height: 100%;
}

/* 헤더 빼고 감싸기 */
#content{
	overflow: visible;
    position: static;
    max-width: none;
    padding-bottom: 0;
    background: #e9eaed;
}


#content .content {
	border: 1px solid black;
	min-width: 1280px;
	padding-left: 214px;
	    margin-left: 5%;
}

.page_title_wrap {
    position: relative;
}

.page_tit {
    position: relative;
    height: 39px;
    padding-top: 21px;
    border: 0;
    background: none;
    font-size: 22px;
    font-weight: normal;
    line-height: 38px;
    color: #222;
    font-weight: bold;
    letter-spacing: -1px;
}

.listContent{
	margin-top: 5%;
	position: relative;
	border:2px solid red;
	width: 1280px;
}

.content_top{
    min-width: 1280px;
    max-width: 1560px;
    margin: 0 auto !important;
    box-sizing: content-box;
}

.listContent > .content_top > .products_summary{
	text-align:center;
}

table.ncp_tbl {
    width: 100%; 
    border-top: 1px solid #191919;
    border-spacing: 0px;
    border-collapse: collapse;
    table-layout: fixed;
}

.search_tab .ncp_tbl > tbody > tr > td {
    position: relative;
    height: 52px;
    min-height: 0;
    padding: 6px 10px 0;
    border-left: 1px solid #dfdfdf;
    color: #444;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    background: #f6f6f6;
}

.search_field {
    display: block;
    margin: 0;
    background: #fff;
    padding: 22px 0 22px 31px; 
    padding: 26px 20px 26px 31px;
    border: 1px solid #dfdfdf;
    margin-top: 10px;
}




