#first_ul .first_li {
	float: left;
	margin-left: 8%;
}

#intro {
	margin-bottom: 100px;
	width: 1200px;
	height: 300px;
	margin: 2% auto;
	border-bottom: 2px solid #000;
}

#wizmainbox {
	margin-bottom: 100px;
	width: 1200px;
	height: 300px;
	margin: 0 auto 5%;
}

#wizmainbox #box_left {
	float: left;
	position: relative;
	width: 580px;
	height: 340px;
	overflow: hidden;
}

#box_right {
	float: left;
	width: 580px;
	height: 340px;
	margin-left: 38px;
}

/* 호버시 마우스 포인 효과 */
.vui-slider, .first_li, .manue_second, .sort dd, .detail_list, .img,
	.info>.name>span {
	cursor: pointer;
}

/* 호버시 쉐도우 효과  */
.products_list>.btn_more>span:hover, .info>.name>span:hover {
	color: white;
	text-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000;
	
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
}

.prd_basic>li {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	margin-top: 12px;
}

.btn_more {
	float: right;
	padding: 0 34px 0 0;
	font-size: 20px;
}
/* 메뉴 상태 */
.item-display-wrap {
	position: relative;
	width: 1200px;
	margin: 7% auto;
}

.mtitbox {
	width: 100%;
	height: 40px;
	line-height: 40px;
	border: 0px solid #EFEFEF;
	margin-top: 30px;
	margin-bottom: 60px;
}

.mtitbox .mtitle {
	width: 250px;
	text-align: center;
	margin: 6% auto;
	border-top: 1px solid #E1E1E1;
	border-bottom: 1px solid #E1E1E1
}

.mtitbox .mtitle .mname {
	font-weight: bold;
	font-size: 20px;
	color: #000;
	text-transform: uppercase;
	font-family: arial;
	letter-spacing: 1px;
}

.cate_box {
	position: relative;
	width: 1200px;
	margin: 4% auto;
	background: #fff;
	border: 5px ridge #E1E1E1;
}

.cate_box .top_title {
	overflow: hidden;
	padding-bottom: 30px;
}

.cate_box .top_title .title {
	float: left;
	padding: 35px 0 0 28px;
	font-weight: bold;
	font-size: 26px;
	color: #423033;
}

.cate_box .top_title .update {
	float: right;
	padding: 49px 34px 0 0;
	font-size: 14px;
	color: #666;
}

.products_list {
	box-sizing: border-box;
	overflow-y: overlay;
}

.sort dt {
	float: left;
	margin: 0 2.4%;
	padding: 2px 18px 0 0;
	font-size: 18px;
	color: #333333;
}

.sort dd {
	float: left;
	height: 30px;
	margin-right: 8px;
	padding: 0 10px;
	border: 1px solid #000000;
	border-radius: 3px;
	text-align: center;
}

.sort dd:hover {
	background: #444444;
	border: 1px solid #444444;
	color: #fff;
}

.active {
	background: #444444;
	border: 1px solid #444444;
	color: white;
}

/* 라디오 버튼을 숨긴다. */
 input[type=radio]{
	display:none;	
} 

.prd_basic {
	float: left;
	margin-left: 7%;
}

.prd_basic li {
	padding: 0 30px 40px 0;
}

.price_best>.prd_basic>li>.box {
	position: relative;
	overflow: hidden;
	width: 210px;
}

.prd_basic .box .img {
	overflow: hidden;
	position: relative;
	z-index: 1;
	width: 100%;
	margin: 10% 0%;
}

.prd_basic li .box .info .name {
	overflow: hidden;
	max-height: 41px;
}

.prd_basic .box .img img {
	width: 210px;
	height: 210px;
}

.prd_basic .box .info .price {
	margin-bottom: 2%;
}

.prd_basic .box .info .price .consumer {
	float: right;
}

.prd_basic .box .preview {
	padding-bottom: 5px;
	padding: 10% 0 0;
}

.prd_basic .box .preview span {
	padding: 0 2px;
	font-size: 12px;
	color: #505050;
}

.prd_basic .box .preview .sid {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}